/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
/* END OF FONTS */
/* DEFAULT TEMPLATE  */
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body, html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}
/* OVERRIDE .master-container-red FOR A DIFFERENT PAGE BACKGROUND */
/* OVERRIDE .master-container-red FOR A DIFFERENT PAGE BACKGROUND */
/* OVERRIDE .master-container-red FOR A DIFFERENT PAGE BACKGROUND */
.master-container-red {
    background: linear-gradient(to bottom, #BF0100, #590000);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
/* END OF DEAFAULT TEMPLATE */
/* HEADER */
.pre-nav-container {
    background-color: #BF0100;
}

.pre-nav {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* START OF NAV SOCIAL (Facebook + Instagram + Twitter buttons) */
.nav-social {
    display: flex;
    align-items: center;
    padding-left: 3%;
    color: white;
}

.nav-social span {
    white-space: nowrap;
}

.nav-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px 5px;
    padding-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.nav-social a:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
    transform: scale(1.2) rotate(30deg);
}

.nav-social a img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
/* END OF NAV SOCIAL (Facebook + Instagram + Twitter buttons) */
/* START OF SCROLLING TEXT */
.scrolling-container {
    margin-bottom: 0.8%;
    overflow: hidden;
    flex: 1;
    text-align: center;
    color: white;
}

.scrolling-text {
    display: flex;
    gap: 100px;
    white-space: nowrap;
    animation: scrollText 12s linear infinite;
}

.scrolling-text span {
    color: white;
    margin-top: 10px;
}

@keyframes scrollText {
    from { transform: translateX(200%); }
    to { transform: translateX(-200%); }
}
/* END OF SCROLLING TEXT */
/* START OF ADDRESS + CONTACT ITEM(PHONE + EMAIL) */
.address {
    background-color: #BF0100;
    display: flex;
    padding-right: 60px;
    color: white;
    gap: 40px;
    z-index: 2;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.contact-item img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.contact-item a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item:hover img {
    transform: scale(1.2) rotate(30deg);
}

.contact-item:hover a {
    color: rgb(190, 190, 190);
}
/* END OF ADDRESS + CONTACT ITEM(PHONE + EMAIL) */
/* START OF NAVBAR */
.navbar-container {
    background-color: #2E2E2E;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
}

.navbar-collapse {
    flex-grow: 0;
    flex-basis: auto;
    display: flex;
    justify-content: center;
}

.nav-subcontainer {
    margin-left: 5%;
}
/* END OF NAVBAR */
/* START OF LOGO */
.logo {
    color: white;
    padding-left: 60px;
    margin-right: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}

.logo:hover {
    cursor: pointer;
}
/* END OF LOGO */
/* START OF NAV LINKS (Hone, Products, Contact Us...) STYLING */
.navbar-toggler-icon {
    background-image: none !important;
}

.navbar-toggler {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border: none;
    padding: 10px;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.navbar-toggler:hover {
    transform: scale(1.2);
}

.nav-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

.nav-link li {
    padding: 0;
}

.navbar-nav {
    flex-wrap: nowrap;
}

.nav-link li a {
    color: rgb(200, 200, 200);
    font-weight: 600;
    text-decoration: none;
}

.nav-link li a:hover {
    color: #BF0100;
}

.nav-link li a:active {
    color: grey;
}
/* END OF NAV LINKS (Hone, Products, Contact Us...) STYLING */
/* START OF SEARCHBOX STYLING */

.search-component {
    flex-grow: 1;
    position: relative;
}

.search-toggle {
    display: none;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-toggle:hover {
    background-color: rgb(216, 216, 216);
    transform: scale(1.2);
}

.search-toggle img {
width: 20px;
height: 20px;
}

.search-container {
    flex-grow: 1;
    max-width: 600px;
    margin: 0 20px;
}

.search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 5px 15px;
    position: relative;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.search-input {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.search-input::placeholder {
    color: transparent;
}

.placeholder-text {
position: absolute;
left: 45px;
pointer-events: none;
color: #6c757d;
font-size: 14px;
transition: opacity 0.2s;
}

/* END OF SEARCHBOX STYLING */
/* START OF NAV BUTTONS (User, darkmode, language...) STYLING*/

.nav-button {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.nav-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    gap: 3px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-button button:first-child {
    gap: 3px;
    padding: 8px;
}

.nav-button button:hover {
    background-color: rgb(216, 216, 216);
    transform: scale(1.2);
}

/* END OF NAV BUTTONS (User, darkmode, language...) STYLING*/
/* END OF HEADER */
/* FOOTER */
footer {
    background: rgb(216, 216, 216);
    border-top: 10px solid rgb(191, 0, 0);
}
.info-container {
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    margin: 0 auto;
    max-width: 1600px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 2%;

    border-bottom: 1px solid #ccc;
}

.feature {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feature img {
    width: 40px;
    height: 40px;
}

.feature div h3{
    padding-bottom: 0.5%;
}

.footer-middle {
    display: flex;
    justify-content: space-around;
}

.footer-column h3 {
    font-weight: bold;
    margin-bottom: 6%;
}

.footer-column p{
    margin-bottom: 2%;
}

.footer-column p a {
    color: #3E3E3E;
    text-decoration: none;
}

.footer-column p a:hover {
    color: rgb(191, 0, 0);
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    background: rgb(232, 232, 232);
    padding: 8px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2) rotate(30deg);
    background-color: rgb(200, 200, 200);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom h3 {
    font-weight: bold;
}

.footer-bottom img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
}

.footer-copyright {
    background-color: rgb(191,0,0);
    color: white;
}
/* END OF FOOTER */
/* MOBILE COMPATIBILITY */
@media (max-width: 1000px) {
    .scrolling-container {
        width: 100%;
        order: 1;
        margin-top: 10px;
    }

    .pre-nav {
        flex-direction: column;
    }
        
    .scrolling-container {
        width: 100%;
    }
    
    .scrolling-text {
        font-size: 14px;
    }
    
    .address {
        justify-content: right;
        width: 100%;
    }
    
    .contact-item {
        font-size: 12px;
    }
    
    .contact-item img {
        width: 15px;
        height: 15px;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #212529;
        z-index: 1000;
        padding: 10px;
    }
    
    .navbar-collapse ul {
        flex-direction: column;
        width: 100%;
    }
    
    .nav-button button {
        margin: 5px;
        padding: 8px;
    }

    .navbar-nav:first-child {
        margin-top: 5%;
    }
    .navbar-nav:last-child {
        margin-bottom: 5%;
    }
    .nav-subcontainer {
        margin: 0%;
    }
    .navbar-toggler {
        margin-left: 3%;
        transform: scale(0.6);
    }
    .navbar-toggler:hover {
        transform: scale(0.8);
    }
    .logo {
        padding-left: 0px;
        font-size: 20px;
    }
    .search-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .search-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0;
        max-width: 100%;
        background:#2E2E2E;
        padding: 10px 15px;
        z-index: 1000;
        
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease, padding 0.3s ease;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .search-container.active {
        max-height: 60px;
        opacity: 1;
        transform: translateY(0);
        padding: 10px 15px;
    }
    .nav-button button {
        align-items: right;
        justify-content: right;
    
        margin: 5px;
        padding: 5px;
    }
    .nav-button button:first-child {
        gap: 3px;
        padding: 3px;
        padding-right: 5px;
    }
    .feature {
        margin-bottom: 5%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .nav-social span {
        display: none;
    }

    .contact-item {
        gap: 5px;
        justify-content: flex-end;
    }

    .contact-item img {
        width: 18px;
        height: 18px;
    }

    .contact-item a {
        font-size: 12px;
    }
    
    .address {
        display: flex;
        margin-left: 10%;
        padding: 0;
    }

    .address div a {
        font-size: 7px;
    }

    .navbar-toggler:hover {
        transform: scale(0.7);
    }
    .nav-button button {
        align-items: right;
        justify-content: right;
    
        margin: 2px;
        padding: 3px;
    }
    .nav-button button:first-child {
        padding: 3px;
        padding-right: 0px;
    }
}

@media (max-width: 300px) {
    .logo {
        color: white;
        font-size: 12px;
        font-weight: 600;
    }
    .nav-social a {
        margin: 2px 2px;
        padding-right: 5px;
        width: 15px;
        height: 15px;
    }

    .nav-social a img {
        margin-left: 5px;
        width: 10px;
        height: 10px;
    }

    .navbar-toggler {
        margin-left: 0%;
        transform: scale(0.4);
    }
    .navbar-toggler:hover {
        transform: scale(0.6);
    }
    .nav-button button {
        align-items: right;
        justify-content: right;
    
        margin: 1px;
        padding: 1px;
    }
    .nav-button button:first-child {
        padding: 1px;
    }
}